body {
    background-color: #006273;
background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  
}

#navBar {
    width: 75%;
    height: 60px;
    background-color: white;
    position: absolute;
    top:10px;
    transition: 2s;
    }

#navBar:hover {
    background-color: blue  
    
}

.listItem {
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.listItem a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}

#brand {
    float: left;

}
.listItem a:hover {
    color: yellow;

}

#navtext {
    float: right;
}

#navtext:hover {
    color: white;
}

header {
height: 70vh;
min-height: 600px;
display: flex;
justify-content: space-evently;
align-items: center;
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
    width: 75%;
    height: 40px;
  }
  

#imageBox {
height: 300px;
width: 300px;
background-image: url(./profile.jpg);
background-position: center;
background-size: cover;
box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);

}

#greetingBox {
    color:black;
    float: left;
  padding: 160px;
  
}

#greetingBox h1 {
    font-size: 80px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    text-align: left;
    border: none;
    outline: none;
    transition: 5s;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 75%;
  }


  

